<form [formGroup] = "form" (ngSubmit)="onSubmit()">

  <h2>Распределение задач</h2>
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    formControlName="distribution"
    >
    <mat-radio-button  class="example-radio-button" *ngFor="let distribution of distributions" [value]="distribution.tag">
      {{distribution.title}}
    </mat-radio-button>
  </mat-radio-group>

  <h2>Задачи постановки на спец учет</h2>
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    formControlName="special"
  >
    <mat-radio-button  class="example-radio-button" *ngFor="let special of specials" [value]="special.tag">
      {{special.title}}
    </mat-radio-button>
  </mat-radio-group>

  <h2>Задачи на выдачу именников</h2>
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    formControlName="imennik"
  >
    <mat-radio-button  class="example-radio-button" *ngFor="let imennik of imenniks" [value]="imennik.tag">
      {{imennik.title}}
    </mat-radio-button>
  </mat-radio-group>

  <h2>Задачи на пробирные работы</h2>
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    formControlName="assaywork"
  >
    <mat-radio-button  class="example-radio-button" *ngFor="let assaywork of assayworks" [value]="assaywork.tag">
      {{assaywork.title}}
    </mat-radio-button>
  </mat-radio-group>

  <h2>Задачи хим. лаборатории </h2>
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    formControlName="chemical"
  >
    <mat-radio-button  class="example-radio-button" *ngFor="let chemical of chemicals" [value]="chemical.tag">
      {{chemical.title}}
    </mat-radio-button>
  </mat-radio-group>

  <h2>Задачи маркировки </h2>
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    formControlName="marking"
  >
    <mat-radio-button  class="example-radio-button" *ngFor="let marking of markings" [value]="marking.tag">
      {{marking.title}}
    </mat-radio-button>
  </mat-radio-group>

  <h2> Задачи на государственный контроль </h2>
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    formControlName="statecontrol"
  >
    <mat-radio-button  class="example-radio-button" *ngFor="let statecontrol of statecontrols" [value]="statecontrol.tag">
      {{statecontrol.title}}
    </mat-radio-button>
  </mat-radio-group>

  <button> Войти</button>
</form>

<!--(books$ | async).result-->


